<!--<link rel = "stylesheet" type = "text/css" href = "../static/css/app.css" th:href="@{/css/app.css}"/>-->
<!--&lt;!&ndash; Favicon &ndash;&gt;
<link href="./assets/img/brand/favicon.png" rel="icon" type="image/png">-->

<!-- Fonts -->
<link rel = "stylesheet" type = "text/css" href = "../../static/css/font-google/font.css" th:href="@{/css/font-google/font.css}"/>
<link rel = "stylesheet" type = "text/css" href = "../../static/vendor/@fortawesome/fontawesome-free/css/all.min.css" th:href="@{/vendor/@fortawesome/fontawesome-free/css/all.min.css}"/>
<!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">-->

<!-- Icons -->
<!-- <link href="./assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">-->
<link rel = "stylesheet" type = "text/css" href = "../../static/css/nucleo/css/nucleo.css" th:href="@{/css/nucleo/css/nucleo.css}"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- <link href="./assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">-->

<!-- My CSS -->
<!--<link type="text/css" href="./assets/css/argon.css?v=1.0.0" rel="stylesheet">-->
<link rel = "stylesheet" type = "text/css" href = "../../static/css/mystyle/my.css" th:href="@{/css/mystyle/my.css}"/>

<link rel = "stylesheet" type = "text/css" href = "../../static/vendor/DataTables/datatables.css" th:href="@{/vendor/DataTables/datatables.css}"/>

<!--<link rel = "stylesheet" type = "text/css" href = "../../static/vendor/select2/css/select2.min.css" th:href="@{/vendor/select2/css/select2.min.css}"/>-->
