<!-- Jquery -->
<script src="../../static/js/jquery/dist/jquery.min.js" th:src="@{/js/jquery/dist/jquery.min.js}"></script>

<script  src="../../static/vendor/DataTables/datatables.js" th:src="@{/vendor/DataTables/datatables.js}"></script>

<!-- Script Bootstrap -->
<script src="../../static/vendor/bootstrap/dist/js/bootstrap.bundle.min.js" th:src="@{/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>

<!-- My Javascript -->
<script src="../../static/js/myscript/my.js" th:src="@{/js/myscript/my.js}"></script>

<!--<script src="../../static/vendor/select2/js/select2.min.js" th:src="@{/vendor/select2/js/select2.min.js}"></script>-->
